/*the whole section*/
#phone8{
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    cursor:pointer;   
    padding-top: 60px;
    background-color: rgb(249,240,233);   
    text-align: center;
}

section.module.content{
  padding: 20px 0;
}

div.module.parallax-1{
  background-image: url("../images/ip8.png");
  background-repeat: no-repeat;
  width:100%;
  background-color:rgb(249,240,233);
  background-size:cover;
  padding-bottom:0;        
}

.module.parallax.parallax-1{
  padding: 200px 0px;
}

@media all and (min-width: 100px) {   
  section.module.parallax {
    padding: 300px 0;
  }
}

